body{
    margin: auto;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1800px;
}

h1{
    margin-left: 350px;
    margin-top: 100px;
    font-family: serif;
    color: #09a223;
    font-size: 3.5rem;
}

.azul{
    width: 100%;
    height: 60px;
    background-color: #0B8CBF;
    color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: -20px;
}

.azul img{
    border-radius: 50px;
}

.telefono{
    margin-left: 550px;
    margin-top: -85px;
}

.direccion{
    margin-left: 850px;
    margin-top: -50px;
}

.containerEncabezado{
    margin-top: -250px;
    margin-left: 550px;
    font-size: 1.8rem;
    font-family: serif;
}

.color-default{ 
    color:#09a223 !important;
}

.margenIz{
    margin-left: 30px;
    margin-top: 15px;
    padding: 20px;
}

section{
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
}

.parrafoFinal{
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    width: 75%;
    position: relative;
    float: right;
    margin-top: -30px;
}

.izquierda{
    float: left;
    margin: 15px 15px 15px 0;
}

.derecha{
    float: right;
    margin: 15px 15px 15px 15px;
}

h2{
    color: orangered;
}

.enlaces{
    padding: 30px;
}

.enlaces h2{
    font-size: 2.5rem;
}

.enlaces a{
    font-size: 1.8rem;
    text-decoration: none;
    color: #09a223;
    font-weight: bold;
}

.enlaces a:hover{
    color: mediumaquamarine;
}

li{
    padding-top: 10px;
}

.redondeado{
    border-radius: 10px;
    width: 200px;
    height: 150px;
    float: left;
    margin: 0 30px 0 30px;
}




.social img{
    opacity: 0.7;
    margin:inherit;
}

.facebook:hover img{
    opacity: 1;
}

.twitter:hover img{
    opacity: 1;
}

.youtube:hover img{
    opacity: 1;
}

.linkedin:hover img{
    opacity: 1;
}

blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}

#footer{ background: url() repeat-x 0 0 #f5f5f5; color:#333333;}
#footer a{ color:#333333;}
#footer .footer-top{ padding:70px 0;}
#footer .footer-top p{ margin:8px 0;}
#footer .footer-logo{ position:relative;}
#footer .footer-logo:after{ width:1px; content:""; height:69px; background:#ababab; position:absolute; right:0; top:21px;}
#footer .footer-address-widget{ padding:18px 32px; background:#fff;}
#footer .footer-address-widget ul li{ list-style:none; float:left; font-size:20px; width:40%; position:relative;padding-left: 60px;}
#footer .footer-address-widget ul li:nth-child(2){ width:60%;}
#footer .footer-address-widget ul li span, #footer .footer-address-widget ul li a{ display:block; font-size:16px;}
#footer .footer-address-widget ul li i{ font-size: 40px;left: 0; position: absolute;top: 8px;}
#footer .footer-address-widget ul li i.icon-icons74{ font-size:44px;top: 4px;}
#footer .usefull-links-widget{ margin-top:45px;}
#footer .usefull-links-widget h4{ padding-bottom:15px; color:#131313;}
#footer .usefull-links-widget ul{ width:50%; float:left;}
#footer .usefull-links-widget li{ list-style:none; padding: 6px 0;}
#footer .usefull-links-widget li a{ font-size:16px; background:url(imagenes/dot.png) no-repeat 0 10px; font-weight:400;font-family: "Open Sans",sans-serif;padding-left: 20px;}
#footer .twitter-widget{ margin-top:45px;padding-right: 40px;}
#footer .twitter-widget h4{ padding-bottom:15px; color:#131313;}
#footer .twitter-widget .tweet i {float:left;font-size:24px;margin-top:15px; color:#818181;}
#footer .twitter-widget .tweet p {padding:10px 0 0 30px;margin:0 0 10px; font-size:16px; line-height:24px;}
#footer .twitter-widget .tweet p a{ font-weight:600;}
#footer .twitter-widget .tweet p span {display:block;font-size:14px;padding-top: 5px;}
#footer .newsletter-widget{ padding:20px 29px; background:#e9e9e9;}
#footer .newsletter-widget p{ font-size:16px; line-height:21px;margin: 0 0 20px;}
#footer .newsletter-widget .social{ background:#e3e3e3; text-align:center; padding:17px; margin:50px -29px -20px;}
#footer .footer-left {float: left;width: 65%;}
#footer .footer-right {float: left;width: 35%;}
#footer .footer-bottom{ padding:30px 0; background:#e9e9e9;}
#footer .footer-bottom p{ font-size:14px; margin:0; line-height:normal;}
#footer.dark{ background-color:#323946; color:#edf0f5;}
#footer.dark .footer-logo{ border-color:#999ca3;}
#footer.dark .footer-address-widget{ background-color:#383f4c;}
#footer.dark a{ color:#edf0f5;}
#footer.dark .usefull-links-widget h4, #footer.dark .twitter-widget h4{ color:#fff;}
#footer.dark .twitter-widget .tweet i{ color:#fff;}
#footer.dark .newsletter-widget{ background:#2e3441;}
#footer.dark .newsletter-widget h4{ color:#fff;}
#footer.dark input[type="text"], #footer.dark input[type="email"], #footer.dark input[type="number"], #footer.dark input[type="password"]{ background:#222732; border-color:#545a65;}
#footer.dark .newsletter-widget .social{ background-color:#222732}
#footer.dark .social li a i{ background:none; border-color:#525863; color:#fff;}
#footer.dark .footer-bottom{ background:#2d3440;}

#footer a:hover{ color:#09a223;}

#footer .footer-top .col-md-3{ width:24%;}
#footer .footer-top .col-md-9{ width:76%;}

@media (min-width: 1170px){#footer .footer-top .col-md-3{ width:20%;}#footer .footer-top .col-md-9{ width:80%;}}

#footer .footer-logo:after {right: -15px; top: 17px;}
#footer .footer-left, #footer .footer-right {float: none;width: auto;}
#footer .height-50{ height:20px;}
#footer .usefull-links-widget h4, #footer .twitter-widget h4 { margin-bottom: 6px;padding-bottom: 0;}
#footer .twitter-widget { padding-right: 0;}
#footer .newsletter-widget { margin-top: 40px; padding: 30px 29px 20px;}

#footer .footer-logo { float: left;max-width: 100px; margin-right:20px; border-radius: 20px;}
#footer .footer-logo:after{ display:none;}
#footer .footer-address-widget ul li, #footer .footer-address-widget ul li:nth-child(2){ float:none; width:auto; margin:10px 0;}
#footer .footer-address-widget{ padding:10px 20px;}
#footer .footer-top p { line-height: 25px;}
#footer .footer-address-widget ul li span, #footer .footer-address-widget ul li a { font-size: 15px;}
#footer .usefull-links-widget li a, #footer .twitter-widget .tweet p, #footer .footer-top p{font-size: 15px;}
#footer .footer-top {padding: 20px 0;}
.footer-bottom p{ text-align:center; padding:5px 0;}
#footer .footer-bottom{ padding:10px 0;}
#footer .newsletter-widget .social{ margin-top:30px;}

#footer .footer-logo:after {right: -15px; top: 17px;}
#footer .footer-left, #footer .footer-right {float: none;width: auto;}
#footer .height-50{ height:20px;}
#footer .usefull-links-widget h4, #footer .twitter-widget h4 { margin-bottom: 6px;padding-bottom: 0;}
#footer .twitter-widget { padding-right: 0;}
#footer .newsletter-widget { margin-top: 40px; padding: 30px 29px 20px;}

.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}

















body{
    margin: auto;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1800px;
}

.home{
    display: flex;
    flex-wrap: wrap;
}

.in-flex{
    flex: 1;
    min-width: 250px;
}

.in-flex:first-child{
    flex: 2;
    padding: 25px;
    margin-bottom: 0px;
}

h1{
    margin-left: 350px;
    margin-top: 100px;
    font-family: serif;
    color: #09a223;
    font-size: 3.5rem;
}

#contenedor_formulario{
    margin-left: 280px;
    margin-top: 60px;
    background-color:aliceblue;   
    width: 700px;
    height: auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 7px 7px grey;
    border: 2px solid black;
}

input[type="submit"]{
    margin-left: 220px;
    margin-top: 120px;
    padding: 20px;
    border-radius: 50px;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #09a223;
    box-shadow: 4px 4px 4px 4px grey;
    color: darkslategrey;
}

.izquierda{
    margin-left: -50px;
}

input[type="submit"]:active{
    box-shadow: 2px 2px 2px 2px grey;
}

.fuente{
    font-family: sans-serif;
    color: darkslategrey;
}



.azul{
    width: 100%;
    height: 60px;
    background-color: #0B8CBF;
    color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: -20px;
}

.azul img{
    border-radius: 50px;
}

.telefono{
    margin-left: 550px;
    margin-top: -75px;
}

.direccion{
    margin-left: 850px;
    margin-top: -40px;
}

td{
    font-size: 1.2rem;
    font-weight: bold;
}

input, select{
    border-radius: 25px;
    font-size: 1.2rem;
    padding: 10px;
}

textarea{
    border-radius: 25px;
}

.margenIz{
    margin-left: 30px;
    margin-top: 15px;
    padding: 20px;
}

#fecha_nacimiento{
    font-family: sans-serif;
    color: grey;
    font-size: 1.2rem;
}

label.error{
    color: darkred;
}

#registro label.error{
    font-size: 0.9em;
    color: darkred;
    font-weight: bold;
}

#form_datos label.error{
    font-size: 0.9em;
    color: darkred;
    font-weight: bold;
}

.containerEncabezado{
    margin-top: -250px;
    margin-left: 550px;
    font-size: 1.8rem;
    font-family: serif;
}

.color-default{ 
    color:#09a223 !important;
}

#comprobar{
    margin: auto;
}

.pago{
    margin-right: 550px;
}

#tarjeta, #fecha_tarjeta, #email, #n_tarjeta, #f_tarjeta, #e_mail{

    visibility: hidden;
}

.mod{
    margin-left: 180px;
}

.mod2{
    margin-left: 160px;
}

.productos img{
    width: 250px;
    height: 250px;
    padding: 30px;
    border-radius: 10px;
}

td img{
    border-radius: 10px;
}

input[type="button"]{
    margin-top: 120px;
    border-radius: 50px;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #F9B842;
    box-shadow: 4px 4px 4px 4px grey;
    color: black;
    position: absolute;
    z-index: 100;
    margin-left: 700px;
    padding: 20px;
}

table h2{
    position: relative;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#menu{
    margin-left: 350px;
}

#menu a{
    text-decoration: none;
    float: left;
    margin-top: 100px;
    text-align: left;
    font-family: "Open Sans",sans-serif;
    font-weight:400;
    line-height:normal; 
    color:#000;  
    font-size:16px;
    text-transform:none;
    margin-left: 40px;
}

#menu a:hover{
    padding: 20px;
    background-color: #09a223;
    color: white;
    border-radius: 25px;
    text-align: center;
    margin-left: 20px;
    margin-top: 80px;
}

#tomate, #lechuga, #pimientoR, #pimientoV, #platano, #manzana, #naranja, #pera, #jabon, #champu{
    float: left;
}

.referencia{
    font-size: 1rem;
}

button{
    margin-left: 50px;
    padding: 15px;
    border-radius: 20px;
    margin-top: -50px;
    background-color: #F9B842;
    font-weight: bold;
}

.display{
    margin-left: 25px;
    border: 2px solid grey;
    text-align: right;
}

#carrito td{
    padding-bottom: 150px;
}

.container{
    float: left;
}

.genCompra{
    position: relative;
    float: right;
    margin-top: -65%;
}

.genRed{
    background-color: red !important;
}

.fondo, h3{
    background-color: lavender !important;
}

.tablaProductos{
    position: relative;
    margin-top: -12%;
    margin-left: 5%;
    margin-right: 5%;
    width: 70%;
}

.cabecera{
    border-top: 5px solid lavender;
    border-bottom: 5px solid lavender;
}

.tablaProductos a:hover{
    color: red;
    text-decoration: none;
}

.tablaProductos a{
    color: #09a223;
}

.cabecera th{
    padding: 10px;
    text-align: center;
}

tbody td{
    padding: 10px;
    text-align: center;
}




















*{
    box-sizing: border-box;
  }
  
  
  .margenIz{
  
    float: left;
  
    padding: 20px;
  
    border-radius: 30px;
  
  }
  
  .margenDr{
  
    float:right;
  
    padding: 20px;
  
    border-radius: 30px;
  
  }
  
  .centrado{
  
    object-position: right;
  
  }
  
  
  
  .ajustado{
  
    margin-left: 50px;
  
    margin-right: 50px;
  
    margin-top: 0;
  
  }
  
  
  
  .texto{
  
    padding: 50px;
  
  }
  
  .fuente{
    font-family: sans-serif;
    color: darkslategrey;
    text-align: left;
  }
  
  
  
  #contenedor_formulario{
    margin-left: 15%;
    margin-top: 80px;
    margin-bottom: 100px;
    background-color: #f3f5fa;   
    width: 900px;
    height: auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 7px 7px grey;
    border: 2px solid black;
    font-size: 2.2rem;
  }
  
  .tituloFormulario{
    margin-top: 200px;
    text-align: center;
    color: #09a223;
  }
  
  .titulo{
    color: #09a223;
  }
  
  textarea{
    border-radius: 25px;
  }
  
  #fecha_nacimiento{
    font-family: sans-serif;
    color: grey;
    font-size: 1.2rem;
  }
  
  label.error{
    color: darkred;
  }
  
  #registro label.error{
    font-size: 0.9em;
    color: darkred;
    font-weight: bold;
  }
  
  #form_datos label.error{
    font-size: 0.9em;
    color: darkred;
    font-weight: bold;
  }
  
  #comprobar{
    margin: auto;
  }
  
  .pago{
    margin-right: 550px;
  }
  
  #tarjeta, #fecha_tarjeta, #email, #n_tarjeta, #f_tarjeta, #e_mail{
  
    visibility: hidden;
  }
  
  
  input[type="submit"]{
    margin-left: 320px;
    margin-top: 120px;
    padding: 20px;
    border-radius: 50px;
    font-size: 2.6rem;
    font-weight: bold;
    background-color: orange;
    box-shadow: 4px 4px 4px 4px grey;
    color: #666666;
  }
  
  .izquierda{
    margin-left: -50px;
  }
  
  .izquierda2{
    margin-left: -200px;
  }
  
  .tamanoAreaTexto{
    width: 500px;
  }
  
  select{
    border-radius: 25px;
      font-size: 1.2rem;
      padding: 20px;
  }
  
  input[type="submit"]:active{
    box-shadow: 2px 2px 2px 2px grey;
  }
  
  .integrantes{
    text-align: left;
    color: #09a223;
    margin-top: 70px;
  }
  
  #primary-nav{
    margin-top: 2%;
  }
  
  .pie{
    text-align: center;
  }
  
  .fotoPie{
    float: right;
    margin-right: 20%;
    margin-top: -90px;
  }
  
  .encabezadoFactura{
    margin-top: 200px;
    margin-left: 50px;
    overflow: hidden;
    height: 300px;
  }
  
  .detalleFactura{
    width: 85%;
    border: 1px solid black;
    margin-left: 50px;
    margin-right: 150px;
    margin-top: 45%;
  }
  
  table th{
    text-align: center;
    background-color: #09a223;
    color: white;
  }
  
  table td{
    padding: 20px;
    text-align: center;
  }
  
  .datosFactura{
    float: left;
    margin-right: 125px;
    width: 270px;
  }
  
  .alinear{
    position: absolute;
    top: -25px;
  }
  
  .bajar{
    margin-top: -40px;
    margin-right: 100px;
  }
  
  .productos{
    margin-top: 300px;
  }
  
  #carrito{
    margin-top: 50px;
  }
  
  #carrito td{
    padding-bottom: 150px;
  }
  
  .display{
    margin-left: 25px;
    border: 2px solid grey;
    text-align: right;
  }
  
  .referencia{
    font-size: 1rem;
  }
  
  .iconoCarrito{
    left: 70%; 
    position: relative; 
    top: 95%;
  }
  
  #finalizar{
    left: 100%;  
    position: relative; 
    top: 100%;
    font-size: 2.7rem;
    background-color: white;
  }
  
  button{
    margin-left: 50px;
    padding: 15px;
    border-radius: 20px;
    margin-top: -50px;
    background-color: #F9B842;
    font-weight: bold;
  }
  
  #tomate, #lechuga, #pimientoR, #pimientoV, #platano, #manzana, #naranja, #pera, #jabon, #champu{
    float: left;
    margin-left: 95px;
  }
  
  .seleccion:hover{
    border: 5px solid grey;
  }
  
  #display, #display-2, #display-3, #display-4, #display-5, #display-6, #display-7, #display-8, #display-9, #display-0, #display-11, #display-12{
    width: 100px;
    position: absolute;
    margin-top: 60px;
    margin-left: -13%;
    border: 2px solid #F9B842;
    color: green;
    font-weight: bold;
    font-size: 2rem;
  }
  
  .productos img{
    width: 250px;
    height: 250px;
    padding: 30px;
    border-radius: 10px;
  }
  
  .quitar{
    margin-left: -15%;
  }
  
  .anadir{
    margin-left: -20%;
    margin-right: 20%;
  }
  
  .seccion{
    margin-top: 100px;
  }
  
  .seccion p{
    margin-top: 50px;
    text-align: justify;
  }
  
  .margenIz{
    margin-left: 30px;
    margin-top: 15px;
    padding: 20px;
  }
  
  .azul li{
    list-style: none;
  }
  
  .containerEncabezado2{
    margin-top: -200px;
    margin-left: 550px;
    font-size: 1.8rem;
    font-family: serif;
  }
  
  .izquierda{
    float: left;
    margin: 15px 15px 15px 0;
  }
  
  .derecha{
    float: right;
    margin: 15px 15px 15px 15px;
  }
  
  .azul{
      width: 100%;
      height: 40px;
      background-color: #0B8CBF;
      color: white;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
  }
  
  .azul p{
      margin-left: 20px;
  }
  
  .azul img{
      border-radius: 50px;
  }
  
  .telefono{
      margin-left: 650px;
      margin-top: -45px;
  }
  
  .direccion{
      margin-left: 950px;
      margin-top: -35px;
  }
  
  .telefono2{
    margin-left: 550px;
    margin-top: -45px;
  }
  
  .direccion2{
    margin-left: 850px;
    margin-top: -35px;
  }
  
  .redondo img{
      border-radius: 50px;
  }
  
  .cuadrado img{
      border-radius: 20px;
  }
  
  .espacioAbajo{
      margin-bottom: 15px;
  }
  
  .espacioArriba{
    margin-top: 5px;
  }
  
  .espacioDerecha{
      margin-right: 15px;
  }
  
  .social img{
      opacity: 0.7;
      margin:inherit;
  }
  
  .facebook:hover img{
      opacity: 1;
  }
  
  .twitter:hover img{
      opacity: 1;
  }
  
  .youtube:hover img{
      opacity: 1;
  }
  
  .linkedin:hover img{
      opacity: 1;
  }
  
  #mueve{
      margin-top: 120px;
  }
  
  .containerEncabezado{
      margin-top: 5%;
      margin-left: 40%;
  }
  
  .fotoparallax{
      background-image: url("paisaje7.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
  }
  
  .redondo{
      border-radius: 50px;
  }
  
  .redondeado{
      border-radius: 10px;
  }
  
  .facebook{
      background-image: url(imagenes/savethegreen/icono_facebook.jfif);
  }
  
  .twitter{
      background-image: url(imagenes/savethegreen/icono-twitter.jfif);
  }
  
  .image-and-text-box p{
      opacity: 0;
  }
  
  .image-and-text-box:hover p{
      opacity: 1;
  }
  
  .image-and-text-box img{
      opacity: 0.7;
  }
  
  .image-and-text-box:hover img{
      opacity: 1;
  }
  
  .image-and-text-box a{
      color: darkgreen;
  }
  
  .image-and-text-box:hover a{
      color: coral;
  }
  
  
  html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
  }
  body {
    margin: auto;
    margin: 0;
    width:100%;
  }
  
  .display{
    margin-left: 25px;
    border: 2px solid grey;
    text-align: right;
  }
  
  #carrito td{
    padding-bottom: 150px;
  }
  
  .container{
    float: left;
  }
  
  .genCompra{
    float: left;
    margin-top: 33%;
    margin-left: 68%;
    border: 1px solid lavender;
    background-color: white;
  }
  
  .genRed{
    background-color: red !important;
  }
  
  .card-body{
    padding: 5%;
  }
  
  .tablaProductos{
    position: absolute;
    margin-top: 50%;
    margin-left: 2%;
  }
  
  .fondo, h3{
    background-color: lavender !important;
  }
  
  .fondo{
    padding: 15px;
    text-align: center;
    width: 110%;
    margin-left: -5%;
  }
  
  .cabecera th{
    padding: 5px;
  }
  
  .tablaProductos a:hover{
    color: red;
    text-decoration: none;
  }
  
  .tablaProductos a{
    color: #09a223;
  }